@import "header";
@import "hero";
@import "social-media";
@import "tabs";
@import "company-info.scss";
@import "form.scss";
@import "awesome.scss";
@import "pricing-options.scss";
@import "custom-section.scss";
@import "contact.scss";
@import "form2.scss";
@import "footer.scss";
@import "tab-section.scss";

html {
  scroll-behavior: smooth;
  height: -webkit-fill-available;
}


body { 
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

